<!DOCTYPE html>
<html 
  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        <title>Application List</title>
        
    </head>
    <body>
    
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/joblist">Joblists <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item " th:if="${#httpServletRequest.remoteUser}">
        <a class="nav-link" href="/listing">Listing   </a>
      </li>
      <br/>
      <li class="nav-item " th:if="${#httpServletRequest.remoteUser}">
        <a class="nav-link " href="/applicationlist">Application Listing</a>
      </li>
    </ul>
    <div class="row">
      <h4 class="px-4">[[${#httpServletRequest.remoteUser}]]</h4>
      <a th:if="${#httpServletRequest.remoteUser}" href="/logout"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button></a>
      <a th:unless="${#httpServletRequest.remoteUser}" href="/login"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button></a>
    </div>
  </div>
</nav>
    <div class="container ">
    
 
    
    <table class="table table-striped">
  <thead>
    <tr>
 
      <th scope="col">Job Title</th>
      <th scope="col">Job Description</th>
      <th scope="col">Last Application Date</th>
      <th scope="col">Number Of People To Hire</th>
    </tr>
  </thead>

  <tbody >
   <div th:each="joblist : ${joblists}">
    <tr>

      <td th:text="${joblist.jobTitle}"></td>
      <td th:text="${joblist.jobDescription}"></td>
      <td th:text="${joblist.lastApplicationDate}"></td>
      <td th:text="${joblist.numberOfPeopleToHire}"></td>
      <td> <a th:href="@{/applicationlist/}+${joblist.id}"><button class="btn btn-warning"> Go to Aplicants</button> </a> </td>

    </tr>
   

   
</div>
  </tbody>

 
  
</table>
    
    
 



 
    
    
    
    </div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 

    </body>
</html>