<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity = "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
    

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/joblist">Joblists <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item " th:if="${#httpServletRequest.remoteUser}">
        <a class="nav-link" href="/listing">Listing   </a>
      </li>
      <br/>
      <li class="nav-item " th:if="${#httpServletRequest.remoteUser}">
        <a class="nav-link " href="/applicationlist">Application Listing</a>
      </li>
    </ul>
    <div class="row">
      <h4 class="px-4">[[${#httpServletRequest.remoteUser}]]</h4>
      <a th:if="${#httpServletRequest.remoteUser}" href="/logout"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button></a>
      <a th:unless="${#httpServletRequest.remoteUser}" href="/login"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button></a>
    </div>
  </div>
</nav>s



<div class="container col-md-6 ">
<div class="card" style="width: 36rem;">
 
  <div class="card-body">
    <h5 class="card-title" th:text="${joblist.jobTitle}">Card title</h5>
    <p class="card-text " th:text="@{Job Description : }+${joblist.jobDescription}"></p>
    <b  th:text="@{Last Application Date : }+${joblist.lastApplicationDate}" class="card-link">Card link</b>
    <b th:text="@{Number of People to Hire : }+${joblist.numberOfPeopleToHire}"  class="card-link">Another link</b>
  </div>
</div>
<br/>
	<h4> Application Form</h4>
    <form action="#" th:action="@{/addapplication}" th:object="${application}" method="post" >
	    <div class="form-row">
		    <div class="form-group col-md-6">
		      <label for="inputName">Name Surname</label>
		      <input type="text" class="form-control" name="name" id="inputName" placeholder="Name Surname">
		    </div>
		    <div class="form-group col-md-6">
		      <label for="inputEmail">Email</label>
		      <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email">
		    </div>
	  </div>
     <div class="form-group form-row">
      <label class="col-form-label col-6" for="inputPhone">Phone Number:</label>
      <input type="text" name="phoneNumber" id="inputPhone"  class="form-control col-6" placeholder="05XX"/>
     </div>
     <div class="form-group">
      <label for="inputAdress">Adress</label>
  	  <textarea  rows="4" class="form-control" name="address" id="inputAdress" placeholder="Adress" /></textarea>
  	  </div>
  	  <div class="form-group">
      <label for="inputthoughtsOnJob">Thoughts About Job</label>
  	  <textarea  rows="2" class="form-control" name="thoughtsOnJob" id="inputthoughtsOnJob" placeholder="Enter your thoughts about this Job" /></textarea>
  	  </div>
  	
  	  
  	  <input type="hidden"  name="dBFileId" id="dBFileId" />
  	  <input type="hidden"  name="joblistid" th:value="${joblist.id}" />
	 <div>
             <h3>Upload your resume to go upper on the list</h3>
             <div  >
                 <input id="fileUploadInput" type="file" name="file"  required  />
                 <button type="button" id="fileUploadButton" class="btn btn-warning float-right ">Upload File</button>
             </div>
             <div class="upload-response">
                 <div  id="UploadError"></div>
                 <div  id="fileUploadSuccess"></div>
                 <div  id="fileUploadWarning"></div>
             </div>
     </div>  
     <br/>	 

  	  
       <div class="form-group from-row">
       <button type="submit" class="btn btn-primary col-2"> Apply Job </button>
  

       </div>
   
        
    </form>


</div>
    
    

 

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 

<script src="/js/main.js" ></script>       
</body>
</html>